/* =============================================================================
   Imports
   ========================================================================== */

@import url('less/kube.less');
@import url('slick.less');
@import url('icomoon.less');
@import url('icomoon2.css');
@import url('maximage.min.css');
@import url('supersized.css');
@import url('galleriffic-2.css');
@import url('../svg/style.css');




/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: John Gibby @thatgibbyguy || Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */


/* ==|== CSS Styles, IDs & Elements ===================================================== */
*{ .box-sizing(border-box); margin: 0;}
html{ position: relative; }
html,body{ height: 100%; }
// body{ background-image: url('../img/Stonegate-Landing-Insert-Background-black-tile.png'); background-repeat: repeat; }
a{ color: @main-color-gray; .transition(all .5s ease-out); 
	&:hover,&:focus{ color: @main-color-brown; }
}

h1{ text-transform: uppercase; color:@main-color-brown; }
ul{ list-style: none; margin-left: 1em; }
header{ background-color: rgba(255, 255, 255, 0.95); position: absolute; top: 8%; border-top-right-radius: 25px; max-width: 650px;
	.units-row{ position: relative; margin-bottom: 0;
	h1.brand{margin-bottom: 0; text-align: center;
		a{ .block; padding: .5em 0 .25em; }
	}
	.navbar{ margin-bottom: 0; padding: 0.5em 0; border-bottom: 3px solid @main-color-brown;
		ul{ text-align: center; 
			li{ margin-right: 0; display: inline-block; float: none;}
		}
		a{ margin: 0 .4em; border-bottom: 2px solid transparent;
			&:hover{ color: @main-color-brown; text-decoration: none; border-bottom: 2px solid @main-color-brown;}
		}
	}
	.main-nav{ padding-top: 1em; 
		ul{ list-style: none; margin-left: 1em; }
		li { margin-right: 1.4em; }
		i{ border: 2px solid @main-color-brown; padding: .2em; border-radius: 50%; margin-right: .35em; width: 55px; height: 55px; text-align: center; color: @main-color-brown; .transition(all .5s ease-in-out);
			// &:before { width: 25px; }
		}
		svg{width: 3em; height: 3em; padding: .5em; border-radius: 50%; border: 2px solid @main-color-brown; margin-right: 1em;}
		a{ padding: .15em 0; font-size: 1.15em; display: table; text-decoration: none; position: relative;
			&:focus i{ background: @main-color-brown; color: rgba(255,255,255,.95); }
			&:focus { color: @main-color-brown; }
			span{ margin-left: 1em;display: table-cell; vertical-align: middle;
				&:hover{ text-decoration: underline; }
			}
		}
	}
	li{ &:last-child{ margin-right: 0; } }
	}
}
// #maximage{opacity: 0;} 
.close-x{ cursor: pointer; position: absolute; right: 10px; bottom: 5px; }
.main { min-height: 100%;height: auto !important; height: 100%; margin-bottom: -90px; padding-bottom: 110px;
	.unit-60 { margin: 268px 0 0 27.9%; max-width: 650px;
		.tab-content{ background: rgba(255,255,255,.95); display: none; border-left: 3px solid @main-color-brown; border-top-right-radius: 25px; padding: 1em; position: relative;
		 		h1 i{ margin-right: .4em; }
		 		h3{ color: @main-color-gray; font-family: @font-family-headings;}
		 		input{ font-size: 2em; }
		 		ul{
		 			li{ margin-bottom: .75em; }
					i{ .transition(transform .4s ease); margin-right: .5em; }
					a.accordion{ text-decoration: none;}
		 		} 
		 		.accordion{ font-weight: bold; font-size: 110%; }
		}
	}
}
.accordion{ display: block; }
.accContent{ display: none; 
	li span{ cursor: pointer; }
}
a#gallery{ display: block; }
article#photo-gallery{ .clearfix;  
	.pagination{ left: 64px; }
}
.floorplan-photo{ display: none; }
.down{ transform: rotate(90deg); }
.link-borders{ .bordered(@main-color-gray, none, @main-color-gray, none); padding: 1em 0; }
.controls{ .clearfix; }
footer{ background-color: rgba(255,255,255,.95); height: 90px; padding: .5em; position: absolute;clear: both; width: 100%;
	img{ margin-right: .25em; vertical-align: middle; height: 25px; }
	p{ margin-bottom: 0; }
}


/*end test accordion css*/


/* ==|== Custom LESS Variables ===================================================== */

@main-color-brown: #d5a475;
@main-color-gray: #4b5d69;


/* ==|== Custom LESS Mixins ===================================================== */

.inline{ display:inline; }

/* ==|== Responsive Styles ===================================================== */
@media @bpOne {
	.main { padding-top: 50px;
		header.unit-30{ width: 80%; margin: 0 auto !important; display: block; position: relative; float: none; .border-top-radius(25px);border-bottom: 3px solid @main-color-brown;}
		.main-nav ul{ margin-bottom: 1em; }
		.main-nav li{ width: 49%; display: inline-block; margin-right: 0 !important; }
		.unit-60{ width: 80%; margin: 0 auto; display: block; float: none;
			.tab-content{ border-radius: 0px; border: none;}
		}
	}
}

@media @genericPhone {
	.main { padding-top: 0;
		header.unit-30{ width: 95%;
			.main-nav { padding-top: 0;
				ul{ text-align: center; margin: 0;}
				li{ width: 50%; text-align: center;border-bottom: 3px solid @main-color-brown;
					&:nth-of-type(odd){ background-color: rgba(255,255,255,.9); border-right: 3px solid @main-color-brown;}
					&:nth-of-type(even){ margin-left: -5px; }
				}
				a{ display: block; padding: .35em 0;}
				i{ display: none; }
				span{ display: inline; margin-left: 0;}
			}
		}
		.unit-60{ width: 95%; }
	}
}

